Thales Luna integration - HSM CKR_DATA_LEN_RANGE error

**Version detected**: https://github.com/alonbl/gnupg-pkcs11-scd/releases/tag/gnupg-pkcs11-scd-0.11.0

**Current behaviour:** 
With the GPG Thales Luna HSM integration (based on the GnuPG Thales Luna HSM Integration Guide: [GnuPG with Thales HSM - Integration Guide | Thales](https://cpl.thalesgroup.com/resources/encryption/gnupg-integration-guide)) the RSA 4096 private key used to decrypt the files is stored in HSM. Unfortunately we see the following issue: when GPG encrypts files, there is a probability that the encrypted session key does not equal to the size of 512 bytes, which leads to an HSM CKR_DATA_LEN_RANGE error.
The reason is that the encrypted session key binary might start with leading zeroes. Which is stripped while storing to the pgp file (seems like a multi precision integer format is defined in the RFC4880, section 5.1. This leads to the above error on HSM and it cannot be decrypted.

**Expected behaviour:** 
Any encrypted session key must have the correct length based on the block size, and thus it can be decrypted when requested over the pkcs11 interface of the Thales HSM.

**Possible solution:**
Pad the encrypted session key binary to match the x times block size.

Hi,

As far as I remember, the gnupg passes a complete buffer, which is always padded with zero and we trunc it[1].

In any case, patches are welcomed.

Regards,

[1] https://github.com/alonbl/gnupg-pkcs11-scd/blob/master/gnupg-pkcs11-scd/command.c#L1438